:root {
	--bodyBg: #0e0e0e;
	--headerBg: rgba(11, 11, 11, 0.5);
	--backdropBg: rgba(32, 13, 29, 0.6);
	--inputBg: rgba(255, 255, 255, 0.2);
	--modalBg: rgb(255, 242, 253);
	--logoBgGradient: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 1) 92.33%);
	--overlayHeroBetweensections: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%);
	--textWhite: #fff;
	--textDark: #0e0e0e;
	--textAccent: #dc56c5;
	--textGray: #939393;
	--textBlue: #4c00fe;
	--btnBlue: #4c00fe;
}
